<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @user.name%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="table__col1">好きな食べ物</th>
            <td class="table__col2"><%= @profile.favorite_food %></td>
          </tr>
          <tr>
            <th class="table__col1">嫌いな食べ物</th>
            <td class="table__col2"><%= @profile.hated_food %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%=safe_join(@profile.myself.split("\n"),tag(:br))%></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "〜レストラン一覧〜"%>
      </h2>
      <div class="user__card">
        <%= render partial: "restaurants/restaurant", collection: @restaurant %>
      </div>
    </div>
  </div>
</div>