<div class="card">
  <%= link_to image_tag(restaurant.images[0], class: :card__img ), restaurant_path(restaurant.id) %>
  <div class="card__body">
    <%= link_to restaurant.store_name, root_path, class: :card__title%>
    <p class="card__summary">
      <%= restaurant.genre.name %>
    </p>
    <%= link_to "by #{restaurant.user.name}", user_path(restaurant.user_id), class: :card__user %>
  </div>
  <div id="like-btn-<%= restaurant.id %>">
    <%= render 'likes/like', restaurant: restaurant %>
  </div>
</div>
