<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規投稿</h2>
        <%= form_with model: @restaurant, url:restaurants_path, local: true do |f|%>
          <%= render 'shared/error_messages', model: f.object %>

          <div class="field">
            <%= f.label :images, "画像" %><br />
            <%= f.file_field :images, name: 'restaurant[images][]', id: 'restaurant_image' %>
            <div id="image-list">
            </div>
          </div>

          <% @restaurant.images.each do |image| %>
            <%= image_tag image, class: 'images'%>
          <% end %>

          <div class="field">
            <%= f.label :store_name, "店名" %><br />
            <%= f.text_field :store_name %>
          </div>

          <div class="field">
            <%= f.label :address, "住所" %><br />
            <%= f.text_field :address, class: :form__text %>
          </div>

          <div class="field">
            <%= f.label :genre_id, "ジャンル" %><br />
            <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {}) %>
          </div>

          <div class="field">
            <%= f.label :rating_id, "評価" %><br />
            <%= f.collection_select(:rating_id, Rating.all, :id, :number, {}, {}) %>
          </div>

          <div class="field">
            <%= f.label :description, "説明" %><br />
            <%= f.text_area :description, class: :form__text %>
          </div>

          <div class="actions">
            <%= f.submit "保存する", class: :form__btn  %>
          </div>
        <% end %>
    </div>
  </div>
</div>